* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Montserrat";
}
/* Common */
a {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.title{
    padding-left: 30px;
    font-size: 40px;
    font-weight: 600;
    color: rgb(69, 137, 102);
}
.title__icons{
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    background-color: rgb(69, 137, 102);
}
.title__icon{
    display: inline-block;
    height: 30px;
    width: 30px;
}


.line::before{
    position: absolute;
    bottom: -10px;
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #c5c5c5;
}
.main__header{
    display: flex;
    align-items: center;
    margin-top: 70px;
    position: relative;
}


/* -------header-------------- */
.header{
    height: 100vh;
    background: url(../imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.infomation{
    padding-top: 20vh;
    display: flex;
    justify-content: space-between;
}

.infomation__full-name{
    font-weight: 800;
    font-size: 65px;
    color: rgb(69, 137, 102);
}

.infomation__work{
    padding-top: 12px;
    font-size: 30px;
}

.infomation__image{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    object-fit: cover;
    width: 300px;
    height: 400px;
    border-radius: 50px;
}

.infomation__info{
    padding-top: 50px;
}

.infomation__info p{
    font-size: 22px;
    padding-bottom: 15px;
}

.infomation__info b{
    display: inline-block;
    padding-right: 30px;
    font-weight: 700;
}



/* ------skill----------- */
.skill__body{
    display: inline-block;
    padding-left: 350px;
    margin-top: 50px;
}

.skill__row{
    display: flex;
    align-items: flex-start;
}

.skill__main{
    display: block;
    width: 60px;
    font-weight: 600;
    font-size: 30px;
}

.skill__other{
    margin-top: 50px;
}

.skill__desc{
    font-size: 20px;
    padding-bottom: 15px;
}

.skill__lish{
    margin-top: 10px;
    list-style-type: circle;
    margin-left: 80px;
}

/* ------------------educations--------------- */

.education__header{
    position: relative;
}

.education__body{
    margin-left: 350px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 150px 600px;

}

.education__items{
    padding-top: 30px;
    font-size: 22px;
}

.education__items--bold{
    font-weight: 800;
}

.education__header