* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Montserrat";
}

:root{
    --mainColor: rgb(69, 137, 102);
}
/* Common */
a {
    text-decoration: none;
}
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.title {
    padding-left: 30px;
    font-size: 40px;
    font-weight: 600;
    color: var(--mainColor);
}
.title__icons {
    padding: 10px 10px 10px 10px;
    border-radius: 6px;
    background-color: var(--mainColor);
}
.title__icon {
    display: inline-block;
    height: 30px;
    width: 30px;
}

.line::before {
    position: absolute;
    bottom: -10px;
    content: "";
    display: block;
    height: 5px;
    width: 100%;
    background-color: #c5c5c5;
}
.main__header {
    display: flex;
    align-items: center;
    margin-top: 70px;
    position: relative;
}

/* -------header-------------- */
.header {
    height: 100vh;
    background: url(../imgs/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.infomation {
    padding-top: 20vh;
    display: flex;
    justify-content: space-between;
}

.infomation__full-name {
    font-weight: 800;
    font-size: 65px;
    color: var(--mainColor);
}

.infomation__work {
    padding-top: 12px;
    font-size: 30px;
}

.infomation__image {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    object-fit: cover;
    width: 300px;
    height: 400px;
    border-radius: 50px;
}

.infomation__info {
    padding-top: 50px;
}

.infomation__info p {
    font-size: 22px;
    padding-bottom: 15px;
}

.infomation__info b {
    display: inline-block;
    padding-right: 30px;
    font-weight: 700;
}

/* ------skill----------- */
.skill__body {
    display: inline-block;
    padding-left: 350px;
    margin-top: 50px;
}

.skill__row {
    display: flex;
    align-items: flex-start;
}

.skill__main {
    display: block;
    width: 60px;
    font-weight: 600;
    font-size: 30px;
}

.skill__other {
    margin-top: 50px;
}

.skill__desc {
    font-size: 20px;
    padding-bottom: 15px;
}

.skill__lish {
    margin-top: 10px;
    list-style-type: circle;
    margin-left: 80px;
}

/* ------------------educations--------------- */

.education__header {
    position: relative;
}

.education__body {
    margin-left: 350px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 150px 600px;
}

.education__items {
    padding-top: 30px;
    font-size: 22px;
}

.education__items--bold {
    font-weight: 700;
}

/* -----------awards---------------- */
.awards__body {
    margin-left: 350px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: 150px 600px;
}

.awards__items {
    padding-top: 35px;
    font-size: 22px;
    line-height: 30px;
}

.awards__items--bold {
    font-weight: 700;
}

/* -------------projects---------------- */
.projects__body{
    margin: 90px auto 0 auto;
    border-collapse: collapse;
    
}

.projects__table{

    border-radius: 15px 15px 0 0;
    background-color: var(--mainColor);
    padding: 30px;

    font-weight: 600;
    font-size: 30px;
    color: #fff;
}

.projects__name{padding: 10px;
    border-top: #c5c5c5 solid 2px;
    font-size: 22px;
    font-weight: 500;
}

.projects__link{
    font-weight: normal;
    font-size: 18px;
    color: black;
    padding: 22px 200px 22px 200px;
}

table tr{
    transition: 0.5s ease;
}

table tr:hover{ 
    background-color: #c5c5c5;
}

tbody{
    border: #c5c5c5 solid 2px;
    border-bottom: var(--mainColor) solid 2px;
}

/* -------------degrees--------------- */
.degrees__container{
    margin-top: 100px;
    display: grid;
    grid-template-columns:  30% 30% 30%;
    align-items: center;
    justify-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 150px;
    
}

.degrees__img{
    display: block;
    margin-top: -1px;
    object-fit: cover;
    width: 100%;
    height: 215px;
    border-radius: 16px 16px 0 0;

}

.degrees__item{
    transition: 0.25s;

    width: 100%;
    border-radius: 20px;
    border: #c5c5c5 solid 4px;
}

.degrees__title{
    margin-left: 12px;
    margin-top: 18px;
    font-size: 22px;
    font-weight: 600;
    color: black;
}

.degrees__desc{
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 18px;
    color: gray;
}

.degrees__item:hover {
    box-shadow: 0 0 12px var(--mainColor); 
    transform: scale(1.1);
    border: var(--mainColor) solid 4px;
    }